import streamlit as st
import numpy as np
import random
import time
from openai import OpenAI
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from pinecone import Pinecone, Index
from langchain.embeddings import OpenAIEmbeddings
from langchain_community.embeddings import HuggingFaceEmbeddings
import os
import tempfile
from github import Github, Repository
from git import Repo
from pathlib import Path
from langchain.schema import Document
from langchain_pinecone import PineconeVectorStore